footer {
    background-color: #353535;
    color:white;
    padding:20px;
    #footer__logo {
        font-family: 'Shrikhand', sans-serif;
        color:white;
        font-size:18px;
    }
    ul {
        font-size:16px;
        list-style-type: none;
        i {
            margin-right:10px;
        }
        
}
}

.footer__link:hover {
    color:$colour-primary;
}