/* 
==========================
        COLORS 
==========================
*/
/* 
==========================
        BOX-SHADOW 
==========================
*/
/* 
==========================
        BREAKPOINTS 
==========================
*/
/* 
===================
     LOADER
===================
*/
@keyframes bars {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes loader {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
/* 
===================
    HEART APPEAR
===================
*/
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
/* 
===================
    BUTTON CHECK
===================
*/
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* 
===================
    MENU APPEAR
===================
*/
@keyframes appear {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 17px;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  box-shadow: 0px 0px 5px #c6c6c6;
  border-radius: 25px;
  width: 220px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin: auto;
  cursor: pointer;
  transition: scale 200ms ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #c6c6c6;
  background: linear-gradient(#ff93e1, #a16be0);
}

.btn-new {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99e2d0;
  border: none;
  border-radius: 2px;
  color: #278870;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer #footer__logo {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 18px;
}
footer ul {
  font-size: 16px;
  list-style-type: none;
}
footer ul i {
  margin-right: 10px;
}

.footer__link:hover {
  color: #9356dc;
}

/* 
==========================
      MOBILE FIRST 
==========================
*/
#logo__page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#logo__page a {
  position: absolute;
  left: 15px;
  font-size: 20px;
}

.img__header {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

#title__restaurant {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 95%;
  margin: auto;
}
#title__restaurant .fa-stack {
  font-size: 30px;
  padding: 0;
  width: 40px;
  cursor: pointer;
}
#title__restaurant .fa-stack .fas {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#title__restaurant .fa-stack:hover .fas {
  opacity: 1;
  -webkit-animation: scale-up-bottom 0.4s ease-in-out;
  animation: scale-up-bottom 0.4s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#title__restaurant .fa-stack:hover .far {
  opacity: 0;
}

.list-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-menu a {
  -webkit-animation: ease-in-out appear 1s;
  animation: ease-in-out appear 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.list-menu a:nth-child(2) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.list-menu a:nth-child(3) {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
.list-menu a:nth-child(4) {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.list-menu a:nth-child(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}

#page {
  background: #f6f6f6;
  border-radius: 25px 25px 0 0;
  height: 100%;
  margin-top: -50px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
}
#page h3 {
  text-transform: uppercase;
  margin: 20px;
  position: relative;
}
#page h3::after {
  content: "";
  position: absolute;
  background: #99e2d0;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
}

#menu {
  width: 95%;
  margin: auto;
}

.details {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 500ms ease-out;
  width: 100%;
}
.details__description p,
.details__description h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__price {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  margin-left: auto;
  font-size: 18px;
  padding: 0 20px 10px 0;
}
.details__check {
  background: #99e2d0;
  color: white;
  font-size: 20px;
  width: 0px;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s;
}
.details:hover .details__description {
  width: calc(100% - 70px);
}
.details:hover .details__check {
  width: 70px;
}
.details:hover .fas {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.btn__page {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
  transition: scale 200ms ease-in-out;
}

/* 
==========================
    RESPONSIVE DESKTOP 
==========================
*/
@media screen and (min-width: 1024px) {
  header {
    max-width: 1200px;
    margin: auto;
  }

  .img__header {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  #page {
    max-width: 1200px;
    margin: auto;
    margin-top: -50px;
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .list-menu {
    width: 350px;
    min-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
  }

  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=menu.css.map */
