.btn {
    background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
    border: none;
    box-shadow: 0px 0px 5px #c6c6c6;
    border-radius: 25px;
    width: 220px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin:auto;
    cursor: pointer;
    transition: scale 200ms ease-in-out;
    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 10px #c6c6c6;
        background: linear-gradient(lighten(rgba(255, 121, 218, 1), 5%), lighten(rgba(147, 86, 220, 1), 5%));
    }
}

.btn-new {
    position: absolute;
    right: 15px;
    top: 15px;
    background: $colour-tertiary;
    border: none;
    border-radius: 2px;
    color: darken($colour-tertiary, 40);
    font-size: 16px;
    padding:0px 5px 0px 5px;
}
