@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/animations";
@import "../Base/base";
@import "../Base/typography";
@import "../Composants/buttons";
@import "../Layout/footer";

/* 
==========================
      MOBILE FIRST 
==========================
*/

#logo__page {
    @include flex_items;
    position: relative;
    a {
        position: absolute;
        left: 15px;
        font-size: 20px;
    }
}

.img__header {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

#title__restaurant {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 95%;
    margin: auto;
    .fa-stack {
        font-size: 30px;
        padding: 0;
        width: 40px;
        cursor: pointer;
        .fas {
            opacity: 0;
            background: linear-gradient($colour-primary, $colour-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            .fas {
                opacity: 1;
                -webkit-animation: scale-up-bottom 0.4s ease-in-out;
                        animation: scale-up-bottom 0.4s ease-in-out;
                -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
            }
            .far {
                opacity: 0;
            }
        }
    }
}

.list-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        -webkit-animation: ease-in-out appear 1s;
                animation: ease-in-out appear 1s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        @for $i from 2 through 5 {
            &:nth-child(#{$i}) {
                -webkit-animation-delay: 500ms * calc($i / 2);
                        animation-delay: 500ms * calc($i / 2);
            }
        }
    }
}

#page {
    background: $colour-bg;
    border-radius: 25px 25px 0 0;
    height: 100%;
    margin-top: -50px;
    padding-top: 25px;
    position: relative;
    z-index: 1;
    h3 {
        text-transform: uppercase;
        margin: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background: $colour-tertiary;
            left: 0;
            bottom: 0;
            width: 40px;
            height: 3px;
        }
    }
}
#menu {
    width: 95%;
    margin: auto;
}

.details {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 15px;
    box-shadow: $box-shadow;
    transition: translate 500ms ease-in-out;
    overflow: hidden;
    margin: auto;
    &__description {
        display: flex;
        flex-direction: column;
        padding: 10px;

        p {
            font-size: 14px;
            @include overflow;
            width: 200px;
        }
        h4 {
            @include overflow;
            width: 210px;
        }
    }
    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 900;
        margin-left: auto;
        font-size: 18px;
        padding: 0 20px 10px 0;
    }
    &__check {
        background: $colour-tertiary;
        color: white;
        font-size: 20px;
        width: 70px;
        border-radius: 0 15px 15px 0;
        margin-right: -75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        .details__check {
            margin-right: 0;
            width: 70px;
        }

        .fas {
            -webkit-animation: rotate-center 0.6s ease-in-out both;
                    animation: rotate-center 0.6s ease-in-out both;
        }
    }
}

.btn__page {
    @include flex;
    padding: 40px;
    transition: scale 200ms ease-in-out;
}

/* 
==========================
    RESPONSIVE DESKTOP 
==========================
*/

@media screen and (min-width: $desktop-min-w) {
    header {
        max-width:1200px;
        margin:auto;
    }
    .img__header {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 300px;
    }
    #page {
        max-width: 1200px;
        margin: auto;
        margin-top: -50px;
    }
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
