@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin flex_items {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}