/* 
==========================
        COLORS 
==========================
*/
$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-bg: #f6f6f6;

/* 
==========================
        BOX-SHADOW 
==========================
*/

$box-shadow: 0px 0px 5px #c6c6c6;

/* 
==========================
        BREAKPOINTS 
==========================
*/
$mobile-min-w: 320px;
$mobile-max-w: 375px;

$tablet-min-w: 376px;
$tablet-max-w: 1023px;

$desktop-min-w: 1024px;
$desktop-max-w: 1440px;
